node_modules
.next
out
build
.git
.uploads
.env
.env*.local
.env.production
coverage
.vitest
playwright-report
test-results
.playwright
screenshots
*.log
npm-debug.log*
Dockerfile
.dockerignore
docker-compose.yml
